USE [master]
GO
/****** Object:  Database [QLHOCVU]    Script Date: 10/12/2025 8:09:36 PM ******/
CREATE DATABASE [QLHOCVU]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLHOCVU', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MAYCHU\MSSQL\DATA\QLHOCVU.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLHOCVU_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MAYCHU\MSSQL\DATA\QLHOCVU_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLHOCVU].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLHOCVU]
GO
/****** Object:  Table [dbo].[Ban Chăm Sóc]    Script Date: 10/12/2025 8:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ban Chăm Sóc](
	[MaCS] [varchar](20) NOT NULL,
	[UserID] [varchar](20) NOT NULL,
	[Chức vụ] [nvarchar](100) NOT NULL,
	[Họ và tên] [nvarchar](50) NOT NULL,
	[Năm sinh] [date] NOT NULL,
	[Email] [nvarchar](50) NULL,
	[SDT] [int] NULL,
	[Giới Tính] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK__BanChamS__27258E7579023E3A] PRIMARY KEY CLUSTERED 
(
	[MaCS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Đăng ký lớp học]    Script Date: 10/12/2025 8:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Đăng ký lớp học](
	[MaSV] [varchar](20) NOT NULL,
	[Mã Lớp] [nvarchar](20) NOT NULL,
	[Mã HK] [nchar](10) NULL,
	[Mã Đăng ký] [nchar](10) NOT NULL,
 CONSTRAINT [PK_DangKyHoc_1] PRIMARY KEY CLUSTERED 
(
	[Mã Đăng ký] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhSachLop]    Script Date: 10/12/2025 8:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachLop](
	[MasV] [varchar](20) NOT NULL,
	[Mã Lớp] [nvarchar](20) NOT NULL,
	[DiemQT1] [float] NULL,
	[DiemQT2] [float] NULL,
	[DiemQT3] [float] NULL,
	[MaHK] [nchar](10) NULL,
	[MaDK] [nchar](10) NULL,
	[DiemKetthucHP] [float] NULL,
 CONSTRAINT [PK_DánhachLop] PRIMARY KEY CLUSTERED 
(
	[MasV] ASC,
	[Mã Lớp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiemDanh]    Script Date: 10/12/2025 8:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemDanh](
	[MaSV] [varchar](20) NOT NULL,
	[MãLichHoc] [int] NOT NULL,
	[Trangthai] [nchar](10) NULL,
	[Ghi chú] [nchar](10) NULL,
 CONSTRAINT [PK_DiemDanh] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC,
	[MãLichHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Giảng Viên]    Script Date: 10/12/2025 8:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Giảng Viên](
	[MaGV] [nvarchar](50) NOT NULL,
	[UserID] [varchar](20) NOT NULL,
	[Bộ Môn] [nvarchar](40) NOT NULL,
	[SDT] [int] NULL,
	[Năm sinh] [date] NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Giới Tính] [nvarchar](10) NOT NULL,
	[Họ và Tên] [nvarchar](50) NOT NULL,
	[Mã Viện] [nchar](10) NULL,
	[Học vị] [nvarchar](50) NULL,
 CONSTRAINT [PK__GiangVie__2725AEF31D98DD8E] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Học Kỳ]    Script Date: 10/12/2025 8:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Học Kỳ](
	[Mã HK] [nchar](10) NOT NULL,
	[Tên HK] [nvarchar](10) NOT NULL,
	[Năm] [int] NULL,
 CONSTRAINT [PK_Học Kỳ] PRIMARY KEY CLUSTERED 
(
	[Mã HK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Học Phí]    Script Date: 10/12/2025 8:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Học Phí](
	[Mã Học Phí] [nchar](10) NOT NULL,
	[Số tiền] [int] NULL,
	[MaMH] [varchar](20) NULL,
	[MaHK] [nchar](10) NULL,
 CONSTRAINT [PK_Học Phí] PRIMARY KEY CLUSTERED 
(
	[Mã Học Phí] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lịch học]    Script Date: 10/12/2025 8:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lịch học](
	[Mã Lịch Học] [int] IDENTITY(1,1) NOT NULL,
	[Mã Lớp] [nvarchar](20) NOT NULL,
	[Ngày] [nvarchar](20) NOT NULL,
	[Tiết bắt đầu] [int] NOT NULL,
	[Phòng] [nvarchar](20) NOT NULL,
	[Tiết Kết Thúc] [nchar](10) NULL,
 CONSTRAINT [PK__LichHoc__150EBC21E135D9B6] PRIMARY KEY CLUSTERED 
(
	[Mã Lịch Học] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lịch Thi]    Script Date: 10/12/2025 8:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lịch Thi](
	[Mã Lịch Thi] [int] IDENTITY(1,1) NOT NULL,
	[Mã Lớp] [nvarchar](20) NOT NULL,
	[Ngày Thi] [date] NOT NULL,
	[Giờ Thi] [time](7) NOT NULL,
	[Phòng Thi] [nvarchar](20) NOT NULL,
	[GiamThi2] [nvarchar](50) NOT NULL,
	[GiamThi1] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__LichThi__147EF5CC55FF604A] PRIMARY KEY CLUSTERED 
(
	[Mã Lịch Thi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lớp]    Script Date: 10/12/2025 8:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lớp](
	[Mã Lớp] [nvarchar](20) NOT NULL,
	[Tên Lớp] [nvarchar](50) NOT NULL,
	[MaGV] [nvarchar](50) NOT NULL,
	[MaHK] [nchar](10) NULL,
	[Mã MH] [varchar](20) NULL,
	[SoLuongSV] [int] NULL,
	[MaPhong] [char](10) NULL,
	[Siso] [int] NULL,
	[Trạng thái] [nchar](10) NULL,
	[MaVien] [nchar](10) NULL,
 CONSTRAINT [PK_LopHoc] PRIMARY KEY CLUSTERED 
(
	[Mã Lớp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Môn học]    Script Date: 10/12/2025 8:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Môn học](
	[MaMH] [varchar](20) NOT NULL,
	[TenMH] [nvarchar](100) NULL,
	[SoTinChi] [int] NULL,
	[Mã Lớp] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ngành học]    Script Date: 10/12/2025 8:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ngành học](
	[Mã Ngành] [nchar](10) NOT NULL,
	[Tên Ngành] [nvarchar](50) NOT NULL,
	[Mã Viện] [nchar](10) NULL,
 CONSTRAINT [PK_Ngành học] PRIMARY KEY CLUSTERED 
(
	[Mã Ngành] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongHoc]    Script Date: 10/12/2025 8:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongHoc](
	[MaPhong] [char](10) NOT NULL,
	[TenPhong] [nvarchar](100) NULL,
	[SucChua] [varchar](20) NULL,
 CONSTRAINT [PK_PhongHoc] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rèn Luyện]    Script Date: 10/12/2025 8:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rèn Luyện](
	[MaSV] [varchar](20) NOT NULL,
	[DiemRenLuyen] [int] NULL,
	[XepLoai] [nvarchar](50) NULL,
	[Mã HK] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sinh Viên]    Script Date: 10/12/2025 8:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sinh Viên](
	[MaSV] [varchar](20) NOT NULL,
	[UserID] [varchar](20) NOT NULL,
	[Mã Lớp] [nvarchar](20) NOT NULL,
	[Năm sinh] [date] NULL,
	[Giới Tính] [nvarchar](10) NOT NULL,
	[CCCD] [int] NULL,
	[SDT] [int] NULL,
	[Mã Ngành] [nchar](10) NOT NULL,
	[Mã Viện] [nchar](10) NOT NULL,
	[Mã HK] [nchar](10) NULL,
 CONSTRAINT [PK__SinhVien__2725081A269A0F63] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/12/2025 8:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [varchar](20) NOT NULL,
	[Họ và Tên] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__Users__1788CCACEAF793DB] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Viện]    Script Date: 10/12/2025 8:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Viện](
	[Mã Viện] [nchar](10) NOT NULL,
	[Tên Viện] [nvarchar](50) NULL,
 CONSTRAINT [PK_Viện] PRIMARY KEY CLUSTERED 
(
	[Mã Viện] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Viện Đào Tạo]    Script Date: 10/12/2025 8:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Viện Đào Tạo](
	[Mã Viện] [varchar](20) NOT NULL,
	[UserID] [varchar](20) NOT NULL,
	[Chức vụ] [nvarchar](100) NOT NULL,
	[Họ và tên] [nvarchar](40) NOT NULL,
	[Năm sinh] [date] NOT NULL,
	[SDT] [int] NULL,
	[Email] [varchar](50) NULL,
	[Giới Tính] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK__VienDaoT__8D4CA7C634C07DBE] PRIMARY KEY CLUSTERED 
(
	[Mã Viện] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Môn học] ([MaMH], [TenMH], [SoTinChi], [Mã Lớp]) VALUES (N'MH01', N'Cơ sở dữ liệu', 3, NULL)
GO
INSERT [dbo].[Users] ([UserID], [Họ và Tên], [Password], [Role]) VALUES (N'cs001', N'Pham', N'Pham', N'BanChamSoc')
INSERT [dbo].[Users] ([UserID], [Họ và Tên], [Password], [Role]) VALUES (N'gv001', N'Tran', N'Tran', N'GiangVien')
INSERT [dbo].[Users] ([UserID], [Họ và Tên], [Password], [Role]) VALUES (N'sv001', N'Nguyen', N'Nguyen', N'SinhVien')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__BanChamS__1788CCADCDCF4126]    Script Date: 10/12/2025 8:09:37 PM ******/
ALTER TABLE [dbo].[Ban Chăm Sóc] ADD  CONSTRAINT [UQ__BanChamS__1788CCADCDCF4126] UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__GiangVie__1788CCAD7375E57B]    Script Date: 10/12/2025 8:09:37 PM ******/
ALTER TABLE [dbo].[Giảng Viên] ADD  CONSTRAINT [UQ__GiangVie__1788CCAD7375E57B] UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SinhVien__1788CCADDE8FE211]    Script Date: 10/12/2025 8:09:37 PM ******/
ALTER TABLE [dbo].[Sinh Viên] ADD  CONSTRAINT [UQ__SinhVien__1788CCADDE8FE211] UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__VienDaoT__1788CCAD315DD777]    Script Date: 10/12/2025 8:09:37 PM ******/
ALTER TABLE [dbo].[Viện Đào Tạo] ADD  CONSTRAINT [UQ__VienDaoT__1788CCAD315DD777] UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ban Chăm Sóc]  WITH CHECK ADD  CONSTRAINT [FK__BanChamSo__UserI__45F365D3] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Ban Chăm Sóc] CHECK CONSTRAINT [FK__BanChamSo__UserI__45F365D3]
GO
ALTER TABLE [dbo].[Đăng ký lớp học]  WITH CHECK ADD  CONSTRAINT [FK__DangKyHoc__MaSV__4D94879B] FOREIGN KEY([MaSV])
REFERENCES [dbo].[Sinh Viên] ([MaSV])
GO
ALTER TABLE [dbo].[Đăng ký lớp học] CHECK CONSTRAINT [FK__DangKyHoc__MaSV__4D94879B]
GO
ALTER TABLE [dbo].[Đăng ký lớp học]  WITH CHECK ADD  CONSTRAINT [FK_Đăng ký lớp học_Lớp] FOREIGN KEY([Mã Lớp])
REFERENCES [dbo].[Lớp] ([Mã Lớp])
GO
ALTER TABLE [dbo].[Đăng ký lớp học] CHECK CONSTRAINT [FK_Đăng ký lớp học_Lớp]
GO
ALTER TABLE [dbo].[DanhSachLop]  WITH CHECK ADD  CONSTRAINT [FK_DanhSachLop_Học Kỳ] FOREIGN KEY([MaHK])
REFERENCES [dbo].[Học Kỳ] ([Mã HK])
GO
ALTER TABLE [dbo].[DanhSachLop] CHECK CONSTRAINT [FK_DanhSachLop_Học Kỳ]
GO
ALTER TABLE [dbo].[DanhSachLop]  WITH CHECK ADD  CONSTRAINT [FK_DanhSachLop_Lớp] FOREIGN KEY([Mã Lớp])
REFERENCES [dbo].[Lớp] ([Mã Lớp])
GO
ALTER TABLE [dbo].[DanhSachLop] CHECK CONSTRAINT [FK_DanhSachLop_Lớp]
GO
ALTER TABLE [dbo].[DanhSachLop]  WITH CHECK ADD  CONSTRAINT [FK_DanhSachLop_Sinh Viên] FOREIGN KEY([MasV])
REFERENCES [dbo].[Sinh Viên] ([MaSV])
GO
ALTER TABLE [dbo].[DanhSachLop] CHECK CONSTRAINT [FK_DanhSachLop_Sinh Viên]
GO
ALTER TABLE [dbo].[DiemDanh]  WITH CHECK ADD  CONSTRAINT [FK_DiemDanh_Lịch học] FOREIGN KEY([MãLichHoc])
REFERENCES [dbo].[Lịch học] ([Mã Lịch Học])
GO
ALTER TABLE [dbo].[DiemDanh] CHECK CONSTRAINT [FK_DiemDanh_Lịch học]
GO
ALTER TABLE [dbo].[Giảng Viên]  WITH CHECK ADD  CONSTRAINT [FK__GiangVien__UserI__3E52440B] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Giảng Viên] CHECK CONSTRAINT [FK__GiangVien__UserI__3E52440B]
GO
ALTER TABLE [dbo].[Giảng Viên]  WITH CHECK ADD  CONSTRAINT [FK_Giảng Viên_Viện] FOREIGN KEY([Mã Viện])
REFERENCES [dbo].[Viện] ([Mã Viện])
GO
ALTER TABLE [dbo].[Giảng Viên] CHECK CONSTRAINT [FK_Giảng Viên_Viện]
GO
ALTER TABLE [dbo].[Học Phí]  WITH CHECK ADD  CONSTRAINT [FK_Học Phí_Học Kỳ] FOREIGN KEY([MaHK])
REFERENCES [dbo].[Học Kỳ] ([Mã HK])
GO
ALTER TABLE [dbo].[Học Phí] CHECK CONSTRAINT [FK_Học Phí_Học Kỳ]
GO
ALTER TABLE [dbo].[Học Phí]  WITH CHECK ADD  CONSTRAINT [FK_Học Phí_Môn học] FOREIGN KEY([MaMH])
REFERENCES [dbo].[Môn học] ([MaMH])
GO
ALTER TABLE [dbo].[Học Phí] CHECK CONSTRAINT [FK_Học Phí_Môn học]
GO
ALTER TABLE [dbo].[Lịch học]  WITH CHECK ADD  CONSTRAINT [FK_Lịch học_Lớp] FOREIGN KEY([Mã Lớp])
REFERENCES [dbo].[Lớp] ([Mã Lớp])
GO
ALTER TABLE [dbo].[Lịch học] CHECK CONSTRAINT [FK_Lịch học_Lớp]
GO
ALTER TABLE [dbo].[Lịch Thi]  WITH CHECK ADD  CONSTRAINT [FK__LichThi__GiamThi__5629CD9C] FOREIGN KEY([GiamThi1])
REFERENCES [dbo].[Giảng Viên] ([MaGV])
GO
ALTER TABLE [dbo].[Lịch Thi] CHECK CONSTRAINT [FK__LichThi__GiamThi__5629CD9C]
GO
ALTER TABLE [dbo].[Lịch Thi]  WITH CHECK ADD  CONSTRAINT [FK_Lịch Thi_Lớp] FOREIGN KEY([Mã Lớp])
REFERENCES [dbo].[Lớp] ([Mã Lớp])
GO
ALTER TABLE [dbo].[Lịch Thi] CHECK CONSTRAINT [FK_Lịch Thi_Lớp]
GO
ALTER TABLE [dbo].[Lớp]  WITH CHECK ADD  CONSTRAINT [FK__LopHoc__MaGV__48CFD27E] FOREIGN KEY([MaGV])
REFERENCES [dbo].[Giảng Viên] ([MaGV])
GO
ALTER TABLE [dbo].[Lớp] CHECK CONSTRAINT [FK__LopHoc__MaGV__48CFD27E]
GO
ALTER TABLE [dbo].[Lớp]  WITH CHECK ADD  CONSTRAINT [FK_Lớp_Học Kỳ] FOREIGN KEY([MaHK])
REFERENCES [dbo].[Học Kỳ] ([Mã HK])
GO
ALTER TABLE [dbo].[Lớp] CHECK CONSTRAINT [FK_Lớp_Học Kỳ]
GO
ALTER TABLE [dbo].[Lớp]  WITH CHECK ADD  CONSTRAINT [FK_Lớp_Môn học] FOREIGN KEY([Mã MH])
REFERENCES [dbo].[Môn học] ([MaMH])
GO
ALTER TABLE [dbo].[Lớp] CHECK CONSTRAINT [FK_Lớp_Môn học]
GO
ALTER TABLE [dbo].[Lớp]  WITH CHECK ADD  CONSTRAINT [FK_Lớp_PhongHoc] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PhongHoc] ([MaPhong])
GO
ALTER TABLE [dbo].[Lớp] CHECK CONSTRAINT [FK_Lớp_PhongHoc]
GO
ALTER TABLE [dbo].[Ngành học]  WITH CHECK ADD  CONSTRAINT [FK_Ngành học_Viện] FOREIGN KEY([Mã Viện])
REFERENCES [dbo].[Viện] ([Mã Viện])
GO
ALTER TABLE [dbo].[Ngành học] CHECK CONSTRAINT [FK_Ngành học_Viện]
GO
ALTER TABLE [dbo].[Rèn Luyện]  WITH CHECK ADD  CONSTRAINT [FK__RenLuyen__MaSV__5CD6CB2B] FOREIGN KEY([MaSV])
REFERENCES [dbo].[Sinh Viên] ([MaSV])
GO
ALTER TABLE [dbo].[Rèn Luyện] CHECK CONSTRAINT [FK__RenLuyen__MaSV__5CD6CB2B]
GO
ALTER TABLE [dbo].[Rèn Luyện]  WITH CHECK ADD  CONSTRAINT [FK_Rèn Luyện_Học Kỳ] FOREIGN KEY([Mã HK])
REFERENCES [dbo].[Học Kỳ] ([Mã HK])
GO
ALTER TABLE [dbo].[Rèn Luyện] CHECK CONSTRAINT [FK_Rèn Luyện_Học Kỳ]
GO
ALTER TABLE [dbo].[Sinh Viên]  WITH CHECK ADD  CONSTRAINT [FK__SinhVien__UserID__3A81B327] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Sinh Viên] CHECK CONSTRAINT [FK__SinhVien__UserID__3A81B327]
GO
ALTER TABLE [dbo].[Sinh Viên]  WITH CHECK ADD  CONSTRAINT [FK_Sinh Viên_Ngành học] FOREIGN KEY([Mã Ngành])
REFERENCES [dbo].[Ngành học] ([Mã Ngành])
GO
ALTER TABLE [dbo].[Sinh Viên] CHECK CONSTRAINT [FK_Sinh Viên_Ngành học]
GO
ALTER TABLE [dbo].[Sinh Viên]  WITH CHECK ADD  CONSTRAINT [FK_Sinh Viên_Ngành học1] FOREIGN KEY([Mã Ngành])
REFERENCES [dbo].[Ngành học] ([Mã Ngành])
GO
ALTER TABLE [dbo].[Sinh Viên] CHECK CONSTRAINT [FK_Sinh Viên_Ngành học1]
GO
ALTER TABLE [dbo].[Sinh Viên]  WITH CHECK ADD  CONSTRAINT [FK_Sinh Viên_Viện] FOREIGN KEY([Mã Viện])
REFERENCES [dbo].[Viện] ([Mã Viện])
GO
ALTER TABLE [dbo].[Sinh Viên] CHECK CONSTRAINT [FK_Sinh Viên_Viện]
GO
ALTER TABLE [dbo].[Viện Đào Tạo]  WITH CHECK ADD  CONSTRAINT [FK__VienDaoTa__UserI__4222D4EF] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Viện Đào Tạo] CHECK CONSTRAINT [FK__VienDaoTa__UserI__4222D4EF]
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatTrangThaiLop]    Script Date: 10/12/2025 8:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CapNhatTrangThaiLop]
AS
BEGIN
    UPDATE Lop
    SET TrangThai = CASE 
                        WHEN (SELECT COUNT(*) FROM DangKyLopHoc WHERE DangKyLopHoc.MaLop = Lop.MaLop) < (0.67 * SiSo)
                            THEN N'Hủy'
                        ELSE N'Mở'
                    END;
END;
GO
USE [master]
GO
