<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
		<add name="QLHOCVUConnection"
       connectionString="Data Source=DESKTOP-2SL7PVM\MAYCHU;Initial Catalog=QLHOCVU;User ID=sa;Password=123456"
       providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>